body {
  margin: 0;
  font-family: "Poiret One", cursive;
  background-color: #072227;
  color: white;
}

/* Navigation Bar */

.title-name {
  font-size: 3rem;
  font-family: "Quintessential", cursive;
}

.navigation-bar {
  font-size: 1.5rem;
  position: fixed;
  background-color: rgba(53, 133, 139, 0.2);
  width: 100%;
  padding: 2% 3%;
}

.navigation-bar-2 {
  font-size: 1.5rem;
  position: fixed;
  background-color: rgba(7, 34, 39, 0.2);
  width: 100%;
  padding: 2% 3%;
}

/* Home Page */

.begin-btn {
  width: 30%;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  font-size: 2rem;
  background-color: #072227;
  color: white;
  border: 0;
  text-decoration: none;
  text-align: center;
}

.begin-btn:hover {
  color: #072227;
  background-color: white;
  border: 0;
  border: 5px solid #072227;
  padding: 5px 25px;
}

.bg-img {
  width: 100%;
  position: fixed;
  z-index: -10;
}

.bg-img-2 {
  width: 15rem;
  margin: 20% auto 5%;
}

.main-text {
  padding-left: 5%;
  padding-top: 10%;
  font-size: 2rem;
}

.main-text-big {
  font-size: 7rem;
}

/* About Page */
.about-text {
  z-index: 1;
  font-size: 1.7rem;
  padding: 28% 35% 10% 42%;
  color: #072227;
  line-height: 1;
  font-style: italic;
}

/* Contact Page */

.contact-us {
  padding-top: 28%;
  text-align: center;
  color: #072227;
  font-weight: 900;
  line-height: 3;
}

.footer-icons {
  margin: 2%;
  font-size: 1.2rem;
}
.footer-icons:hover {
  font-size: 1.2rem;
  color: #239db3;
}

/* Timer Page */
.numbering {
  font-size: 3rem;
}

.timer {
  padding-top: 10rem;
  text-align: center;
}

.timer-text,
.final-text {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 3% 0;
  margin: 5% auto;
  width: 50%;
  font-weight: 600;
}

.playlist-text {
  color: #35858b;
  font-size: 2rem;
  background-color: rgba(7, 34, 39, 0.2);
  border-radius: 20px;
  padding: 3% 0;
  margin: auto;
  width: 50%;
  font-weight: 600;
}

.time {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 0;
  padding: 30px;
  width: 50%;
  margin: 3% auto;
  font-size: 2rem;
}

input.hours,
input.minutes,
input.seconds,
input.playlist-m,
input.playlist-s,
input.playlist-h {
  border: 0;
  border-radius: 15px;
  background-color: rgba(7, 34, 39, 0.2);
  color: white;
  font-family: "Rowdies", cursive;
  width: 20%;
  padding: 10px;
  margin: 5px;
}

.timer-btn,
.playlist-btn,
.play-pause {
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #072227;
  color: white;
  border: 0;
  text-decoration: none;
  text-align: center;
  width: 50%;
  margin: 5%;
}

.timer-btn:hover,
.playlist-btn:hover,
.play-pause:hover {
  color: #072227;
  background-color: white;
  border: 5px solid #072227;
  padding: 5px 25px;
}

#music {
  visibility: hidden;
  position: absolute;
}

.audio-img {
  width: 30%;
}

.playlist {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 3%;
  margin: 3%;
  color: #072227;
  font-weight: 900;
}

@media (max-width : 780px) {
  
}