body {
  margin: 0;
  font-family: "Poiret One", cursive;
  background-color: #072227;
  color: white;
}

/* Navigation Bar */

.title-name {
  font-size: 3rem;
  font-family: "Quintessential", cursive;
}

.navigation-bar {
  font-size: 1.5rem;
  position: fixed;
  background-color: rgba(53, 133, 139, 0.2);
  width: 100%;
  padding: 2% 3%;
}

.navigation-bar-2 {
  font-size: 1.5rem;
  position: fixed;
  background-color: rgba(7, 34, 39, 0.2);
  width: 100%;
  padding: 2% 3%;
}

/* Home Page */

.begin-btn {
  width: 30%;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  font-size: 2rem;
  background-color: #072227;
  color: white;
  border: 0;
  text-decoration: none;
  text-align: center;
}

.begin-btn:hover {
  color: #072227;
  background-color: white;
  border: 0;
}

.bg-img {
  width: 100%;
  position: fixed;
  z-index: -10;
}

.bg-img-2 {
  width: 15rem;
  margin: 20% auto 5%;
}

.main-text {
  padding-left: 5%;
  padding-top: 10%;
  font-size: 2rem;
}

.main-text-big {
  font-size: 7rem;
}

/* About Page */
.about-text {
  z-index: 1;
  font-size: 2.5rem;
  padding: 23% 35% 10% 42%;
  color: #072227;
  line-height: 1;
}

/* Contact Page */

/* Timer Page */

.timer {
  padding-top: 15rem;
  text-align: center;
}

.timer-text {
  font-size: 2.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 3% 0;
  margin: auto;
  width: 50%;
  font-weight: 600;
}

.playlist-text {
  color: #35858b;
  font-size: 2.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 3% 0;
  margin: auto;
  width: 50%;
  font-weight: 600;
}

.time {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 0;
  padding: 30px;
  width: 50%;
  margin: 3% auto;
  font-size: 2rem;
}

input.hours {
  border: 0;
  border-radius: 15px;
  background-color: rgba(7, 34, 39, 0.2);
  color: white;
  font-family: "Rowdies", cursive;
  width: 20%;
  padding: 10px;
  margin: 5px;
}

input.minutes {
  border: 0;
  border-radius: 15px;
  background-color: rgba(7, 34, 39, 0.2);
  color: white;
  font-family: "Rowdies", cursive;
  width: 20%;
  padding: 10px;
  margin: 5px;
}

input.seconds {
  border: 0;
  border-radius: 15px;
  background-color: rgba(7, 34, 39, 0.2);
  color: white;
  font-family: "Rowdies", cursive;
  width: 20%;
  padding: 10px;
  margin: 5px;
}
